@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing){

/* === Hide 'customize' button === */
.open-customization-button {
    display: none !important;
}

/* === Private mode === */
.showPrivate {
    display: none !important;
}

/* === Background image === */
body {
    background-image: url("bg.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    overflow: hidden !important;
    scrollbar-width: none !important;
}
}
