/* urlbar: remove border, shadow, outline, background */
.urlbar-background {
    border: none !important;
    box-shadow: none !important;
    background: var(--toolbar-background-color) !important;
    top: 0 !important;
}

.urlbar-input-container {
    outline: none !important;
}

/* urlbar: remove the "Search with..." */
#urlbar-input::placeholder {
    color: transparent !important;
}

/* urlbarView: background */
.urlbarView-body-outer,
.urlbarView-background,
.urlbarView-body-inner,
.urlbarView {
    background: var(--toolbar-background-color) !important;
    box-shadow: none !important;
}

/* private mode icon */
.private-browsing-indicator-with-label,
#reset-pbm-toolbar-button,
/* toolbar icon */
#picture-in-picture-button,
#reader-mode-button,
/* urlbar icon */
.urlbar-go-button,
.searchmode-switcher,
#urlbar-revert-button-container,
#trust-icon-container,
#identity-permission-box,
#star-button-box,
#share-button,
#translations-button {
    display: none !important;
}

/* dark mode address bar selected item background */
@media (prefers-color-scheme: dark) {

    .urlbarView-button-result-menu,
    .urlbarView-row[selected] {
        background-color: #4e4d55 !important;
    }
}

/* tab: outline  */
.tab-background {
    outline: none !important;
}
