/* === Address bar === */

/* remove border, shadow, and outline */
.urlbar-background {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background: var(--toolbar-bgcolor) !important;
}

/* remove line below address bar above result container */
.urlbarView-body-inner {
    border: none !important;
}

/* remove the "Search with..." suggestion in the address bar */
#urlbar-input::placeholder {
    color: transparent !important;
}

/* dark mode address bar selected item background */
@media (prefers-color-scheme: dark) {

    .urlbarView-button-result-menu,
    .urlbarView-row[selected] {
        background-color: #4e4d54 !important;
    }
}

/* === Hide certain icons in the address bar === */

/* private mode */
.private-browsing-indicator-with-label,
#reset-pbm-toolbar-button,
/* toolbar */
#picture-in-picture-button,
#reader-mode-button,
/* urlbar */
.urlbar-go-button,
#main-button,
#trust-icon-container,
#identity-permission-box,
#star-button-box,
#translations-button {
    display: none !important;
}

